/ {
	macros {
		combo_spacec_macro: combo_spacec_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps SPACE C>, <&kps SPACE LS(C)>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_cspace_macro: combo_cspace_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps C SPACE>, <&kps LS(C) SPACE>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_au_macro: combo_au_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps A U>, <&kps LS(A) U>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_lm_macro: combo_lm_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps L M>, <&kps LS(L) M>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_wh_macro: combo_wh_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps W H>, <&kps LS(W) H>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_adot_macro: combo_adot_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps A DOT>, <&kps LS(A) DOT>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_acomma_macro: combo_acomma_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps A COMMA>, <&kps LS(A) COMMA>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_idot_macro: combo_idot_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps I DOT>, <&kps LS(I) DOT>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_edot_macro: combo_edot_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps E DOT>, <&kps LS(E) DOT>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_ecomma_macro: combo_ecomma_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps E COMMA>, <&kps LS(E) COMMA>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_rk_macro: combo_rk_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps R K>, <&kps LS(R) K>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_sh_macro: combo_sh_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps S H>, <&kps LS(S) H>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		space_caps: space_caps {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp SPACE &capsword>;
		};

		/* k_sqt: k_sqt { */
		/* 	compatible = "zmk,behavior-macro"; */
		/* 	#binding-cells = <0>; */
		/* 	wait-ms = <0>; */
		/* 	tap-ms = <0>; */
		/* 	bindings = <&kp K &sqt_nex>; */
		/* }; */

		combo_5spacebase_macro: combo_5spacebase_macro {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp N5 &spacebase>;
		};

		dqt_shift: dqt_shift {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp DQT &sk LSHIFT>;
		};

		dot_dqt_space_shift: dot_dqt_space_shift {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp DOT &kp DQT &kp SPACE &sk LSHIFT>;
		};

		sqt_shift: sqt_shift {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp SQT &sk LSHIFT>;
		};

		dot_sqt_space_shift: dot_sqt_space_shift {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp SQT &kp DOT &kp SPACE &sk LSHIFT>;
		};

		space_base_caps: space_base_caps {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&to BASE &kp SPACE &capsword>;
		};

		combo_ck_macro: combo_ck_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps C K>, <&kps LS(C) K>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_sk_macro: combo_sk_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps S K>, <&kps LS(S) K>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		combo_ks_macro: combo_ks_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps K S>, <&kps LS(K) S>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
    
		lower_cksp: lower_cksp {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp C &kp K &kp SPACE>;
		};

		upper_cksp: upper_cksp {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp LS(C) &kp K &kp SPACE>;
		};

		combo_ckspace_macro: combo_ckspace_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&lower_cksp>, <&upper_cksp>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		caps_cksp: caps_cksp {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp LS(C) &kp LS(K) &kp SPACE>;
		};

		thorn_err_eth: thorn_err_eth {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&thorn_err_eth1 &thorn_err_eth2>;
		};


		epulse_lower: epulse_lower {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp E &sl PULSE>;
		};

		epulse_upper: epulse_upper {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp LS(E) &sl PULSE>;
		};

		epulse: epulse {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&epulse_lower>, <&epulse_upper>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		rparpulse: rparpulse {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp RPAR &sl PULSE>;
		};
    
		rparcomma: rparcomma {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			tap-ms = <0>;
			bindings = <&kp RPAR &kp COMMA>;
		};

		/* wh_and_kp: wh_and_kp { */
		/* 	compatible = "zmk,behavior-macro-one-param"; */
		/* 	#binding-cells = <1>; */
		/* 	bindings =  <&kp W>, */
		/* 	<&macro_param_1to2>, <&kps H MACRO_PLACEHOLDER>; */
		/* }; */
		/**/
		/* cwh_and_kp: cwh_and_kp { */
		/* 	compatible = "zmk,behavior-macro-one-param"; */
		/* 	#binding-cells = <1>; */
		/* 	bindings =  <&kp LS(W)>, */
		/* 	<&macro_param_1to2>, <&kps H MACRO_PLACEHOLDER>; */
		/* }; */
		/**/
		/* combo_wha_macro: combo_wha_macro { */
		/* 	compatible = "zmk,behavior-mod-morph"; */
		/* 	#binding-cells = <0>; */
		/* 	bindings = <&wh_and_kp A>, <&cwh_and_kp A>; */
		/* 	mods = <(MOD_LSFT|MOD_RSFT)>; */
		/* }; */
		
		combo_ph_macro: combo_ph_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps P H>, <&kps LS(P) H>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_sw_macro: combo_sw_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps S W>, <&kps LS(S) W>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_rv_macro: combo_rv_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps R V>, <&kps LS(R) V>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_rs_macro: combo_rs_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps R S>, <&kps LS(R) S>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_mp_macro: combo_mp_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps M P>, <&kps LS(M) P>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_gt_macro: combo_gt_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps G T>, <&kps LS(G) T>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_dv_macro: combo_dv_macro {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kps D V>, <&kps LS(D) V>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		combo_ZQ_macro: combo_ZQ_macro {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
      bindings = <&macro_tap &kp LS(Z)>, <&macro_tap &kp LS(Q)>;
		};

		combo_ZZ_macro: combo_ZZ_macro {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_tap &kp LS(Z)>, <&macro_tap &kp LS(Z)>;
		};
		
		combo_cx_macro: combo_cx_macro {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_tap &kp C>, <&macro_tap &kp X>;
		};
	};
};

/ {
	
	combos {
		compatible = "zmk,combos";
		
		#define COMBO_TIMEOUT_BRIEF 20
		#define COMBO_TIMEOUT 60
		
		/* combo_guiword { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_T4 POS_RH_T6>; */
		/* 	bindings = <&gui_word>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_space { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_T1 POS_RH_T4>; */
		/* 	bindings = <&mouse>; */
		/* layers = <BASE TYPING>; */ 
		/* }; */

		/* combo_second_numword { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_T4 POS_RH_T4 POS_LH_C2R4 POS_RH_C2R4>; */
		/* 	bindings = <&numword_with_overlay>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_numword { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_C2R5 POS_LH_C4R5>; */
		/* 	bindings = <&numword>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_mouseword { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_C3R5 POS_LH_T4>; */
		/* 	bindings = <&mouse_word>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		combo_spacec {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <LH5 LH4>;
			bindings = <&combo_spacec_macro>;
			layers = <BASE TYPING>;
		};

		/* combo_5space { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH5 LH4>; */
		/* 	bindings = <&kps N5 SPACE>; */
		/* 	layers = <NUM_WORD_PLUS NUM_WORD_STICKY_R NUM_WORD_STICKY_L NUM_WORD_MODDED>; */
		/* }; */

		combo_5spacebase {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <LH5 LH4>;
			bindings = <&combo_5spacebase_macro>;
			layers = <NUM_WORD_PLUS NUM_WORD_MODDED>;
		};

		/* combo_rs { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH5 RH4>; */
		/* 	bindings = <&combo_rs_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		combo_rk {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <RH5 RH4>;
			bindings = <&combo_rk_macro>;
			layers = <BASE TYPING>;
		};

		combo_sh {
			timeout-ms = <COMBO_TIMEOUT>;
		  key-positions = <POS_RH_C2R4 POS_RH_C1R4>; 
			key-positions = <RM2 RB2>;
			bindings = <&combo_sh_macro>;
			layers = <BASE TYPING>;
		};

		/* combo_nexusauto { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH4 RM2>; */
		/* 	bindings = <&nexus_auto>; */
		/* 	layers = <BASE TYPING NEXUS>; */
		/* }; */

		/* combo_rs_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH5 RH4>; */
		/* 	bindings = <&kps LS(R) LS(S)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_ZQ { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_T1 POS_RH_T4>; */
		/* 	bindings = <&combo_ZQ_macro>; */
		/* layers = <BASE TYPING CAPS_WORD_DOT NAV_WORD NAV_WORD_GUI NAV_WORD_CTRL NAV_WORD_SWITCH VIM_WORD PAGE_WORD>; */ 
		/* }; */
		
		/* combo_ZZ { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH6 RH6>; */
		/* 	bindings = <&combo_ZZ_macro>; */
		/* }; */

		combo_mcaps {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <LH6 RH6>;
			bindings = <&mpcaps>;
		};
		
		combo_capsdot {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <LH2 RH2>;
			bindings = <&base_dot>;
		};
		
		/* combo_cx { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_T2 POS_LH_T5>; */
		/* 	bindings = <&combo_cx_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_capsword { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RN1 LN1>; */
		/* 	bindings = <&pcapsword>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_wh { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* key-positions = <POS_RH_C2R4 POS_RH_C1R4>;  */
		/* 	key-positions = <RM2 RB2>; */
		/* 	bindings = <&combo_wh_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_adot { */
		/*     timeout-ms = <COMBO_TIMEOUT>; */
		/* key-positions = <POS_RH_C2R4 POS_RH_C1R4>; */ 
		/* 	key-positions = <LM1 LM2>; */
		/* 	bindings = <&combo_adot_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		combo_acomma {
			timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <POS_RH_C2R4 POS_RH_C1R4>; 
			key-positions = <LM2 LB2>;
			bindings = <&combo_acomma_macro>;
			layers = <BASE TYPING>;
		};

		/*   combo_rparcomma { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/*     key-positions = <POS_RH_C2R4 POS_RH_C1R4>;  */
		/* 	key-positions = <LM2 LB2>; */
		/* 	bindings = <&rparcomma>; */
		/* 	layers = <NEXUS NEXUS_LOCK>; */
		/* }; */

		combo_ae {
			timeout-ms = <COMBO_TIMEOUT_BRIEF>;
      key-positions = <POS_RH_C2R4 POS_RH_C1R4>; 
			key-positions = <LM2 LM3>;
			bindings = <&kp RA(Z)>;
			layers = <BASE TYPING>;
		};

		/* combo_wh_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
/* key-positions = <POS_RH_C2R4 POS_RH_C1R4>; */
		/* 	key-positions = <RM2 RB2>; */
		/* 	bindings = <&kps LS(W) LS(H)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */
    
		/* combo_wha { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_C2R4 POS_RH_C2R4 POS_RH_C1R4>; */
		/* 	bindings = <&combo_wha_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_mp { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RM1 RB1>; */
		/* 	bindings = <&combo_mp_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_lm { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RB1 RB2>; */
		/* 	bindings = <&combo_lm_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		combo_gt {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <RM3 RB3>;
			bindings = <&combo_gt_macro>;
			layers = <BASE TYPING>;
		};

		combo_epulse {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <LM3 LB3>;
			bindings = <&epulse>;
			layers = <BASE TYPING>;
		};

		/* combo_rparpulse { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LM3 LB3>; */
		/* 	bindings = <&rparpulse>; */
		/* 	layers = <NEXUS DNEXUS>; */
		/* }; */

		/* combo_gt_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RM3 RB3>; */
		/* 	bindings = <&kps LS(G) LS(T)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */
		
		
		combo_dv {
			timeout-ms = <COMBO_TIMEOUT>;
			key-positions = <RN3 RT3>;
			bindings = <&combo_dv_macro>;
			layers = <BASE TYPING>;
		};

		/* combo_caps { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LT1 RT1>; */
		/* 	bindings = <&capsword>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		/**/
		/* combo_caps2 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH1 RH4>; */
		/* 	bindings = <&space_caps>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_caps3 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH1 RH4>; */
		/* 	bindings = <&space_base_caps>; */
		/* 	layers = <CAPS_WORD_DOT \ */
		/*     NAV_WORD NAV_WORD_GUI NAV_WORD_CTRL NAV_WORD_SWITCH VIM_WORD PAGE_WORD \ */
		/*     NUM_SPACE NUM_WORD NUM_WORD_MODDED NUM_WORD_PLUS SYMBOL FUNCTIONS ICE>; */
		/* }; */

		/* combo_mouse { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH1 RH4>; */
		/* 	bindings = <&mouse>; */
		/* }; */
		
		/* combo_ph { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_RH_C1R5 POS_RH_C1R4>; */
		/* 	bindings = <&combo_ph_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */
		
		/* combo_au { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <POS_LH_C2R3 POS_LH_C2R4>; */
		/* 	bindings = <&combo_au_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_ck { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH2 LH5>; */
		/* 	bindings = <&combo_ck_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_ck_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH2 LH5>; */
		/* 	bindings = <&kps LS(C) LS(K)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_ks { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH4>; */
		/* 	bindings = <&combo_ks_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_sk { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH2 RH5>; */
		/* 	bindings = <&combo_sk_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_sk_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH2 RH5>; */
		/* 	bindings = <&kps LS(S) LS(K)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_sk2 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH4>; */
		/* 	bindings = <&combo_sk_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_sk_cap2 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH4>; */
		/* 	bindings = <&kps LS(S) LS(K)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_ck2 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH1 LH4>; */
		/* 	bindings = <&combo_ck_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_ck_cap2 { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH1 LH4>; */
		/* 	bindings = <&kps LS(C) LS(K)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_thorn_err_eth { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH2>; */
		/* 	bindings = <&thorn_err_eth>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_rk { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH2>; */
		/* 	bindings = <&combo_rk_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_rk_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RH1 RH2>; */
		/* 	bindings = <&kps LS(R) LS(K)>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */


		/* combo_ckspace { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH5 LH4>; */
		/* 	bindings = <&combo_ckspace_macro>; */
		/* 	layers = <BASE TYPING>; */
		/* }; */

		/* combo_ckspace_cap { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LH5 LH4>; */
		/* 	bindings = <&caps_cksp>; */
		/* 	layers = <CAPS_WORD_DOT>; */
		/* }; */

		/* combo_k_sqt { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <RT2 RT1>; */
		/* 	bindings = <&k_sqt>; */
		/* 	layers = <NEXUS>; */
		/* }; */

		/* combo_quote_shift { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LT2 LT1>; */
		/* 	bindings = <&dqt_shift>; */
		/* 	layers = <NEXUS>; */
		/* }; */
		/**/
		/* combo_dot_quote_shift { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LT2 LM2>; */
		/* 	bindings = <&dot_dqt_space_shift>; */
		/* 	layers = <NEXUS>; */
		/* }; */
		/**/
		/* combo_squote_shift { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LT1 LM1>; */
		/* 	bindings = <&sqt_shift>; */
		/* 	layers = <NEXUS>; */
		/* }; */
		/**/
		/* combo_dot_squote_shift { */
		/* 	timeout-ms = <COMBO_TIMEOUT>; */
		/* 	key-positions = <LM2 LM1>; */
		/* 	bindings = <&dot_sqt_space_shift>; */
		/* 	layers = <NEXUS>; */
		/* }; */

	};
};
