/ {
	behaviors {

		/* capswordy: capswordy { */
		/* 	compatible = "zmk,behavior-caps-word"; */
		/* 	#binding-cells = <0>; */
		/* 	mods = <(MOD_LSFT)>; */
		/* 	continue-list = < */
		/* 	UNDERSCORE */
		/* 	BACKSPACE DELETE */
		/* 	N1 N2 N3 N4 N5 N6 N7 N8 N9 N0 */
		/* 	>; */
		/* }; */
		
		caps_word: caps_word {
			compatible = "zmk,behavior-caps-word";
			#binding-cells = <0>;
			mods = <(MOD_LSFT)>;
      // Default: underscore, backspace, delete, alphanumerics
      // verður að taka aftur fram undrescore, backspace og delete
      // en alphanumerics koma sjálfkrafa
			continue-list = <
        UNDERSCORE BACKSPACE DELETE 
        CLEAR_AGAIN
			>;
		};

		capsword_layer: capsword_layer {
			compatible = "zmk,behavior-auto-layer";
			#binding-cells = <1>;
			continue-list = <LSHIFT UNDERSCORE BACKSPACE DELETE CLEAR_AGAIN>;
			ignore-alphas;
			ignore-numbers;
		};
		
		capsword: capsword {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
		/* Order matters: turn on Caps Word first, then the layer */
			bindings = <
			&caps_word
			&capsword_layer CAPS_WORD
			>;
		};

	};
};
