/ {
	behaviors {

		mouse_slow: mouse_slow {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&none>, <&tog_on_layer MOUSE_SLOW>, <&tog_off_layer MOUSE_SLOW>;
				ignored-key-positions = <0 1 2 3 4 5 6 7 8 9>;
				ignored-layers = <BASE MOUSE_SLOW>;
		};

		mouse_fast: mouse_fast {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&none>, <&tog_on_layer MOUSE_FAST>, <&tog_off_layer MOUSE_FAST>;
				ignored-key-positions = <0 1 2 3 4 5 6 7 8 9>;
				ignored-layers = <BASE MOUSE_FAST>;
		};

		mouse_warp: mouse_warp {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&none>, <&tog_on_layer MOUSE_WARP>, <&tog_off_layer MOUSE_WARP>;
				ignored-key-positions = <0 1 2 3 4 5 6 7 8 9>;
				ignored-layers = <BASE MOUSE_WARP>;
		};

		scroll_speed_down: scroll_speed_down {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&tog_off_layer MOUSE_WARP>, <&tog_on_layer MOUSE_SLOW>;
		};


		scrup_slow: scrup_slow {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_SLOW>, <&msc SCRL_UP>, <&tog_off_layer MOUSE_SLOW>;
				ignored-key-positions = <2 3>;
				ignored-layers = <BASE MOUSE_SLOW>;
		};

		scrdn_slow: scrdn_slow {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_SLOW>, <&msc SCRL_DOWN>, <&tog_off_layer MOUSE_SLOW>;
				ignored-key-positions = <2 3>;
				ignored-layers = <BASE MOUSE_SLOW>;
		};

		scrup_fast: scrup_fast {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_FAST>, <&msc SCRL_UP>, <&tog_off_layer MOUSE_FAST>;
				ignored-key-positions = <0 1>;
				ignored-layers = <BASE MOUSE_FAST>;
		};

		scrdn_fast: scrdn_fast {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_FAST>, <&msc SCRL_DOWN>, <&tog_off_layer MOUSE_FAST>;
				ignored-key-positions = <0 1>;
				ignored-layers = <BASE MOUSE_FAST>;
		};

		scrup_warp: scrup_warp {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_WARP>, <&msc SCRL_UP>, <&tog_off_layer MOUSE_WARP>;
				ignored-key-positions = <0 1>;
				ignored-layers = <BASE MOUSE_WARP>;
		};

		scrdn_warp: scrdn_warp {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_WARP>, <&msc SCRL_DOWN>, <&tog_off_layer MOUSE_WARP>;
				ignored-key-positions = <0 1>;
				ignored-layers = <BASE MOUSE_WARP>;
		};


		scr_slow: scr_slow {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_SLOW>, <&none>, <&tog_off_layer MOUSE_SLOW>;
				ignored-key-positions = <6 7>;
				ignored-layers = <BASE MOUSE_SLOW>;
		};

		scr_warp: scr_warp {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&tog_on_layer MOUSE_WARP>, <&none>, <&tog_off_layer MOUSE_WARP>;
				ignored-key-positions = <6 7>;
				ignored-layers = <BASE MOUSE_WARP>;
		};


	};
};
