/ {
	behaviors {

		volume_up: volume_up {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto FUNCTIONS>, <&kp C_VOL_UP>, <&to BASE>;
				ignored-key-positions = <73 74>;
				ignored-layers = <FUNCTIONS>;
		};

		volume_down: volume_down {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto FUNCTIONS>, <&kp C_VOL_DN>, <&to BASE>;
				ignored-key-positions = <73 74>;
				ignored-layers = <FUNCTIONS>;
		};

		ctrl_tab: ctrl_tab {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp LC(TAB)>, <&to BASE>;
				ignored-key-positions = <LB3 LF2 LF3 LM1 RF2 RF3>;
				ignored-layers = <TABBER>;
		};

		sctrl_tab: sctrl_tab {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp LC(LS(TAB))>, <&to BASE>;
				ignored-key-positions = <LB3 LF2 LF3 LM1 RF2 RF3>;
				ignored-layers = <TABBER>;
		};

		ctrl_w: ctrl_w {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp LC(W)>, <&to BASE>;
				ignored-key-positions = <LF2 LF3 LM1 RF2 RF3>;
				ignored-layers = <TABBER>;
		};

		cs_pgdn: cs_pgdn {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp LC(LS(PG_DN))>, <&to BASE>;
				ignored-key-positions = <LF2 LF3 LM1 RF2 RF3>;
				ignored-layers = <TABBER>;
		};

		cs_pgup: cs_pgup {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp LC(LS(PG_UP))>, <&to BASE>;
				ignored-key-positions = <LF2 LF3 LM1 RF2 RF3>;
				ignored-layers = <TABBER>;
		};


		enters_normal: enter_stick {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp ENTER>, <&to BASE>;
				ignored-key-positions = <LB4 LB3 LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};
    /* Ath, þetta er frekar bjánaleg lausn til að láta sticky shift virka með enter (handa inni mods virka augljóslega enn) */
		shift_enters: shift_enter_stick {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp LS(ENTER)>, <&to BASE>;
				ignored-key-positions = <LB4 LB3 LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};
		gui_enters: gui_enter_stick {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp LG(ENTER)>, <&to BASE>;
				ignored-key-positions = <LB4 LB3 LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};
		ns_enters: normal_shift_enters {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&enters_normal>, <&shift_enters>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		enters: enters {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&ns_enters>, <&gui_enters>;
			mods = <(MOD_LGUI|MOD_RGUI)>;
		};

		tabs_normal: tabs_normal {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp TAB>, <&to BASE>;
				ignored-key-positions = <LB3 LB2 LF2>;
				ignored-layers = <BASE PULSE TRICODER>;
        timeout-ms = <2000>;
		};
		shift_tabs: shift_tab_stick {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp LS(TAB)>, <&to BASE>;
				ignored-key-positions = <LB3 LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};
		gui_tabs: gui_tab_stick {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp LG(TAB)>, <&to BASE>;
				ignored-key-positions = <LB3 LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};
		ns_tabs: ns_tabs {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&tabs_normal>, <&shift_tabs>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		tabs: tabs {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&ns_tabs>, <&gui_tabs>;
			mods = <(MOD_LGUI|MOD_RGUI)>;
		};
    
		colon: colon {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp COLON>, <&to BASE>;
				ignored-key-positions = <LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};

		semi: semi {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp SEMI>, <&to BASE>;
				ignored-key-positions = <LB2 LF2>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};

		escaper: escaper {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp ESCAPE>, <&to BASE>;
				ignored-key-positions = <LH4>;
				ignored-layers = <TRICODER>;
        timeout-ms = <2000>;
		};


		ctrl_bs: ctrl_backspace {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TRICODER>, <&kp LC(BACKSPACE)>, <&to BASE>;
				ignored-key-positions = <RT1 LB1>;
				ignored-layers = <TRICODER>;
        timeout-ms = <6000>;
		};

		slash: slash {
				compatible = "zmk,behavior-tri-state";
				#binding-cells = <0>;
				bindings = <&cto TABBER>, <&kp FSLH>, <&to BASE>;
				ignored-key-positions = <LB3 RT3>;
				ignored-layers = <BASE PULSE TABBER>;
        timeout-ms = <1000>;
		};



		/* cskctrl: cskctrl { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&cto OVERMODS>, <&sk LCTRL>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* cskgui: cskgui { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&cto OVERMODS>, <&sk LGUI>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* cskalt: cskalt { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&cto OVERMODS>, <&sk LALT>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* cskshift: cskshift { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&cto OVERMODS>, <&sk LSHIFT>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* skctrl: skctrl { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&to OVERMODS>, <&sk LCTRL>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* skgui: skgui { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&to OVERMODS>, <&sk LGUI>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* skalt: skalt { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&to OVERMODS>, <&sk LALT>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */
		/**/
		/* skshift: skshift { */
		/* 		compatible = "zmk,behavior-tri-state"; */
		/* 		#binding-cells = <0>; */
		/* 		bindings = <&to OVERMODS>, <&sk LSHIFT>, <&to BASE>; */
		/* 		ignored-key-positions = <LF2 LF3 LF4 RF2 RF3 RF4 LH6 RH6>; */
		/* 		ignored-layers = <OVERMODS>; */
		/* }; */


	};
};
